 .u-section-1 {
  background-image: none;
  min-height: 1521px;
}

.u-section-1 .u-group-1 {
  width: 518px;
  min-height: 495px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 2px calc(((100% - 1140px) / 2) + -16px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.22222rem;
  margin: 126px 0 0;
}

.u-section-1 .u-line-1 {
  width: 427px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 684px;
  height: 454px;
  margin: -497px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + 406px);
}

.u-section-1 .u-image-2 {
  width: 146px;
  height: 146px;
  background-image: url("images/scale_1200.webp");
  background-position: 50% 50%;
  margin: -83px auto 0 calc(((100% - 1140px) / 2) + 430px);
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -89px auto 0 calc(((100% - 1140px) / 2) + 363px);
}

.u-section-1 .u-image-3 {
  width: 140px;
  height: 140px;
  background-image: url("images/jhjh.jpg");
  background-position: 50% 50%;
  margin: 77px auto 0 calc(((100% - 1140px) / 2) + 430px);
}

.u-section-1 .u-text-6 {
  margin: -69px auto 0 calc(((100% - 1140px) / 2) + 363px);
}

.u-section-1 .u-image-4 {
  width: 138px;
  height: 138px;
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
  margin: 75px auto 0 calc(((100% - 1140px) / 2) + 432px);
}

.u-section-1 .u-text-7 {
  margin: -82px calc(((100% - 1140px) / 2) + 675px) 0 calc(((100% - 1140px) / 2) + 344px);
}

.u-section-1 .u-image-5 {
  width: 138px;
  height: 138px;
  background-image: url("images/3e30b1ce6ed66157c3264766e26567a0.jpg");
  background-position: 50% 50%;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + 432px);
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -61px auto 0 calc(((100% - 1140px) / 2) + 287px);
}

.u-section-1 .u-text-9 {
  margin: 213px auto 1px calc(((100% - 1140px) / 2) + 394px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 453px;
    margin-right: calc(((100% - 1140px) / 2) + 84px);
  }

  .u-section-1 .u-line-1 {
    width: 314px;
    transform-origin: left center 0px;
  }

  .u-section-1 .u-image-1 {
    width: 537px;
    height: 413px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 314px;
    margin-left: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 491px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: calc(((100% - 1140px) / 2) + 543px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 495px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 541px);
  }

  .u-section-1 .u-image-4 {
    width: 154px;
    height: 154px;
    margin-right: calc(((100% - 1140px) / 2) + 467px);
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 510px);
    margin-left: calc(((100% - 1140px) / 2) + 543px);
  }

  .u-section-1 .u-image-5 {
    width: 130px;
    height: 130px;
    margin-right: calc(((100% - 1140px) / 2) + 491px);
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 372px;
    margin-left: calc(((100% - 1140px) / 2) + 525px);
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 261px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 426px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1889px;
  }

  .u-section-1 .u-group-1 {
    width: 309px;
    min-height: 455px;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + -31px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 267px;
  }

  .u-section-1 .u-image-1 {
    width: 492px;
    height: 408px;
    margin-top: -455px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 53px;
    margin-right: 249px;
    margin-left: calc(((100% - 720px) / 2) + 236px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 131px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -172px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 213px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -166px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 138px;
    height: 138px;
    margin-top: 193px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 81px;
    margin-top: -164px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    width: 138px;
    height: 138px;
    margin-top: 198px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -164px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin: 325px auto 53px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1964px;
  }

  .u-section-1 .u-group-1 {
    width: 231px;
    min-height: 418px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 34px;
    margin-left: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 213px;
    margin-top: 9px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 377px;
    margin-top: -417px;
    margin-left: calc(((100% - 540px) / 2) + -58px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 29px;
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 121px;
    margin-right: 151px;
    margin-left: calc(((100% - 540px) / 2) + 155px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 3px;
    margin-right: calc(((100% - 540px) / 2) + 181px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 277px;
    margin-left: calc(((100% - 540px) / 2) + 259px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 207px;
    margin-right: calc(((100% - 540px) / 2) + 181px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 273px;
    margin-left: calc(((100% - 540px) / 2) + 259px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 222px;
    margin-right: calc(((100% - 540px) / 2) + 174px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 203px);
    margin-left: calc(((100% - 540px) / 2) + 257px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 213px;
    margin-right: calc(((100% - 540px) / 2) + 161px);
  }

  .u-section-1 .u-text-8 {
    margin-top: -167px;
    margin-right: 206px;
    margin-left: calc(((100% - 540px) / 2) + 241px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 430px;
    margin-left: calc(((100% - 1140px) / 2) + 394px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1598px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 570px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-line-1 {
    width: 286px;
  }

  .u-section-1 .u-image-1 {
    width: 217px;
    height: 156px;
    margin-top: -496px;
    margin-left: calc(((100% - 340px) / 2) + -47px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 60px;
    margin-right: calc(((100% - 340px) / 2) + 200px);
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 180px;
    margin-left: calc(((100% - 340px) / 2) + 157px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 31px;
    margin-right: calc(((100% - 340px) / 2) + 85px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 175px;
    margin-left: calc(((100% - 340px) / 2) + 157px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 14px;
    margin-right: calc(((100% - 340px) / 2) + 85px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 114px);
    margin-left: calc(((100% - 340px) / 2) + 146px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 46px;
    margin-right: calc(((100% - 340px) / 2) + 85px);
  }

  .u-section-1 .u-text-8 {
    margin-right: 135px;
    margin-left: calc(((100% - 340px) / 2) + 112px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 111px;
    margin-right: 28px;
    margin-left: calc(((100% - 340px) / 2) + 10px);
  }
}