 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3082px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 737px;
  margin: 515px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 154px 51px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 314px;
  height: 518px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -562px 403px 0 auto;
  padding: 9px 0 10px;
}

.u-section-1 .u-image-2 {
  width: 329px;
  height: 518px;
  margin: 0 390px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 465px 0 496px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -584px auto 0 17px;
  padding: 10px 28px 10px 27px;
}

.u-section-1 .u-image-3 {
  width: 304px;
  height: 525px;
  margin: -1px auto 0 21px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -9px 0 0 828px;
}

.u-section-1 .u-text-4 {
  margin: -16px 825px 0 21px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 53px 390px 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 84px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -41px auto 0 49px;
}

.u-section-1 .u-image-4 {
  width: 329px;
  height: 446px;
  margin: 0 390px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 308px;
  height: 308px;
  margin: -446px auto 0 21px;
}

.u-section-1 .u-image-6 {
  width: 304px;
  height: 446px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 48px 40px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -94px 69px 0 909px;
}

.u-section-1 .u-image-7 {
  width: 299px;
  height: 394px;
  margin: 42px -18px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 107px 0 966px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  width: 149px;
  margin: -507px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -25px auto 0 127px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 47px;
}

.u-section-1 .u-image-8 {
  width: 256px;
  height: 394px;
  margin: 0 auto 0 45px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -433px auto 0;
}

.u-section-1 .u-image-9 {
  width: 305px;
  height: 394px;
  margin: 0 408px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 96px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 74px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  width: 44px;
  margin: -70px auto 0;
}

.u-section-1 .u-image-10 {
  width: 258px;
  height: 589px;
  margin: 45px auto 0 47px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 25px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 203px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 365px;
    margin-left: 396px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 628px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 646px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 190px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 778px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 7px;
    margin-left: 866px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5648px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 176px;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 83px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 247px;
    margin-left: 294px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 7px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 312px;
    margin-top: -1210px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 294px;
    margin-top: 1190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-right: 167px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 394px;
    margin-right: 238px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 502px;
    margin-right: 204px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 259px;
    height: 361px;
    margin-top: -987px;
    margin-right: 207px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 634px;
    margin-right: 167px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -858px;
    margin-right: 180px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 454px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -500px;
    margin-right: 251px;
    margin-left: 307px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 455px;
    margin-right: 176px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 6px;
    margin-right: 293px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -1454px;
    margin-right: 254px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 917px;
    margin-right: 269px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 1620px;
    margin-right: 200px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 5px;
    margin-right: 193px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -1580px;
    margin-right: 223px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 2px;
    margin-right: 176px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 1138px;
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -1130px;
    margin-right: 225px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -71px;
    margin-right: 293px;
    margin-left: 383px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 52px;
    margin-right: 186px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin: -7px 231px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5654px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 229px;
    margin-right: 11px;
    margin-left: -11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
    margin-left: 146px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 5px;
    margin-left: 96px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 47px;
    margin-left: 96px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 200px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -1213px;
    margin-right: 130px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1188px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 802px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -450px;
    margin-right: 24px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-4 {
    width: 305px;
    height: 362px;
    margin-top: -442px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 86px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 92px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 162px;
    margin-top: -102px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    height: 386px;
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 249px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1447px;
    margin-left: 227px;
    margin-right: 164px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 366px;
    margin-right: 202px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 1034px;
    margin-right: 20px;
    margin-left: 128px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 34px;
    margin-right: 43px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -479px;
    margin-right: 225px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 482px;
    margin-right: 45px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -74px;
    margin-right: 270px;
    margin-left: 226px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 49px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-11 {
    margin: 3px 173px 0 150px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5723px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-right: 21px;
    margin-left: -21px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 51px;
  }

  .u-section-1 .u-image-1 {
    height: 438px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 26px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 179px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 11px;
    margin-left: 35px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
    margin-right: 0;
    padding: 7px 30px 8px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 32px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 124px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 85px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 34px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 126px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 126px;
    margin-right: 170px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 38px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}